<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title><%= title %></title>
</head>
<body>
     <%- include('../partials/nav.ejs'); %>

     <% if(developers.length === 0) { %>
          <a href="/games"><b>Go back to games</b></a>
          <span>No developers have been found</span> <br>
     <% } else if (developers.length > 1) { %>
          <a href="/games"> <b> Go back to games </b> </a> <br>
          <a href="/developers/new/"><b> Add a developer </b></a> <br>
          <br>
          <% developers.forEach(developer => { %>
               <%- include('../partials/developer.ejs', {developer: developer, loneDeveloper: false}); %>
               <br>
          <% }) %>
     <% } else { %>
          <a href="/developers/"><b>Go back to developers</b></a> <br>
          <br>
          <%- include('../partials/developer.ejs', {developer: developers[0], games: games, loneDeveloper: true}); %>
     <% } %>
     </body>
</html>
