<li>
     <span>Title: <%= game.title %></span> <br>
     <span>Release Date: <%= new Date(game.release_date).toLocaleDateString() %></span> <br>
     <span>Developer: <%= game.developer_name %></span> <br>
</li>
