<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title><%= title %></title>
</head>
<body>
     <%- include('partials/nav.ejs'); %>

     <% if(locations.length > 1) { %>
          <h1>Locations in <%= locals.gameTitle %></h1>
     <% } %>

     <% if(!locals.locations) { %>
          <span>No locations were found, this shouldnt happen</span>
     <% } else %>
     <% locations.forEach(location => { %>
          <%- include('partials/location.ejs', {location: location}); %>
     <% }) %>
     <a href="javascript:history.back();">Go back</a>
     </body>
</html>
